.full-width-container {
    &.background-image-reading {
        background-image: url(/images/blocks/WEB-IMAGES-2_Page_37-1024x731.jpg);
        background-repeat: no-repeat;
        background-position-x: center;
        background-position-y: center;
        background-size: 120% auto;
        padding: 3rem 0 2rem;

        @media only screen and (max-width: 600px) {
            background-size: auto;
            padding: 2rem;
        }
    }
}