.pfc-block {
    color: white;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-size: auto;
    padding: 4rem 0;
    margin-bottom: 2rem;

    p {
        font-size: 1.4rem;
    }

    &.orange {
        background-image: url(/images/graphics/button-background-orange.png);
    }

    &.black {
        background-image: url(/images/graphics/button-background-black.png);
    }

    &.blue {
        background-image: url(/images/graphics/button-background-black.png);
    }

    &.green {
        background-image: url(/images/graphics/button-background-black.png);
    }
}