$pfc-text: "Open Sans";
$pfc-cursive: "'Ernest and Emily',Helvetica,Arial,Lucida,sans-serif";
$pfc-menu-captial: "'Roboto Condensed',Helvetica,Arial,Lucida,sans-serif";
$pfc-button: "'Lato', Helvetica, Arial, Lucida, sans-serif";