// general
@use "fonts"as fonts;

// main layout
@use "layouts/menu/top_links";
@use "layouts/menu/main_menu";
@use "layouts/footer";

// blocks
@use "blocks/pfc-block";
@use "blocks/full-width-container";
@use "blocks/space-divider";

// buttons
@use "buttons/main-button";

// pages
@use "home/home";
@use "pages/pages-shared";

html,
body {
    background-color: white;
    font-family: fonts.$pfc-text;
}

html,
body {
    margin: 0;
}

ul {
    list-style: none;
}

h1,
h2,
h3 {
    font-family: fonts.$pfc-menu-capital;
}

h2, h3 {
    text-transform: uppercase;
}