// general
@use "fonts"as fonts;

// main top menu
@use "menu/top_links";
@use "menu/main_menu";

// buttons
@use "buttons/main-button.scss";

// pages
@use "home/home";

*,
html,
body {
    background-color: white;
    font-family: fonts.$pfc-text;
}

html,
body {
    margin: 0;
}

ul {
    list-style: none;
}