// general
@use "fonts"as fonts;

// main layout
@use "layouts/menu/top_links";
@use "layouts/menu/main_menu";
@use "layouts/footer";

// buttons
@use "buttons/main-button.scss";

// pages
@use "home/home";

html,
body {
    background-color: white;
    font-family: fonts.$pfc-text;
}

html,
body {
    margin: 0;
}

ul {
    list-style: none;
}

h1,
h2,
h3 {
    font-family: fonts.$pfc-menu-capital;
}