@use '../fonts'as fonts;
$footer-text: rgb(182, 182, 182);

#footer {
    background-color: black;
    padding: 3rem 12rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    img,
    h1 {
        background-color: transparent;
        width: 5rem;
        font-size: 1.5rem;
    }

    p {
        background-color: black;
        color: $footer-text;
        font-size: 1rem;
        font-family: fonts.$pfc-menu-capital;
    }

    ul {
        padding: 0;
        background-color: inherit;

        li,
        a,
        span {
            background-color: inherit;
            text-decoration: none;
            color: $footer-text;
            font-family: fonts.$pfc-menu-capital;
        }
    }

    .sub-menus-container {
        padding: 1rem 0;
        background-color: transparent;

        display: grid;
        grid-template-columns: repeat(4, max-content);
        grid-column-gap: 2rem;
        justify-content: space-evenly;
    }
}