@use '../../colors'as colors;

#angel-tree-camping {
    .simple-slogan {
        padding: 0;

        img {
            padding: 0 12rem;
            width: calc(100% - 24rem);
            object-fit: cover;

            @media only screen and (max-width: 600px) {
                width: 100%;
                height: auto;
                padding: 0rem;
            }
        }
    }

    .button-bottom-right {
        position: relative;

        button {
            position: absolute;
            right: 0;

            @media only screen and (max-width: 600px) {
                position: static;
            }
        }
    }

    .three-cols {
        justify-content: space-between;

        h3 {
            font-size: 3rem;
            margin: 0;
            color: colors.$pfc-green;
        }

        img {
            width: auto;
            height: 15rem;
        }
    }
}