#in-community-programs {
    .full-width-container {
        .body {
            display: grid;
            grid-template-columns: 30% 30%;
            justify-content: flex-end;
            align-items: center;

            p {
                font-size: 1.8rem;
                text-shadow: 1px 1px 5px white;
            }

            @media only screen and (max-width: 600px) {
                display: block;
            }
        }
    }
}