#in-prison-programs {
    .slogan {
        background-image: url(/images/pages/in-prison-programs/jagged-edged-inprison-banner.jpg);
        background-repeat: no-repeat;
        background-position-x: center;
        background-position-y: center;
        background-size: 110% auto;
        padding: 4rem 0 2rem;

        h1 {
            font-size: 4rem;
            margin: 0;
        }

        p {
            font-size: 1.2rem;
            text-shadow: 1px 1px 1px rgb(89, 89, 89);
            text-align: center;
        }

        @media only screen and (max-width: 600px) {
            padding: 3rem;
            background-size: auto 120%;

            h1 {
                font-size: 3rem;
                text-align: center;
            }
        }
    }
}