#in-prison-programs {
    p {
        font-size: 1.2rem;
    }

    .slogan {
        background-image: url(/images/pages/in-prison-programs/jagged-edged-inprison-banner.jpg);
        background-repeat: no-repeat;
        background-position-x: center;
        background-position-y: center;
        background-size: 120% auto;
        padding: 7rem 0;

        h1 {
            font-size: 5rem;
            margin: 0;
        }

        p {
            font-size: 1.4rem;
            text-shadow: 1px 1px 1px rgb(89, 89, 89);
        }
    }

    .two-cols {
        align-items: flex-start;
        margin-bottom: 2rem;

        .box {
            text-align: center;

            img:first-child {
                width: auto;
                height: 20rem;
                object-fit: cover;
            }

            img:nth-child(2) {
                width: auto;
                height: auto;
            }
        }
    }
}