@use '../fonts'as fonts;

input.pfc-input {
    &.text {
        padding: 1rem 1.5rem;
        font-size: 1.2rem;
        font-family: fonts.$pfc-text;
        background-color: whitesmoke;
        border: 0;
    }
}

.input-container {
    .two-cols-span {
        display: flex;
        grid-column: 1 / 3;
    }

    textarea {
        width: 100%;
        height: 5rem;
        padding: 1rem 1.5rem;
        font-size: 1.2rem;
        font-family: fonts.$pfc-text;
        background-color: whitesmoke;
        border: 0;
    }
}