@use '../../fonts'as fonts;

#facilitating-transformation {
    .slogan {
        text-align: center;
        background-size: auto 110%;
        margin-bottom: 1rem;

        p {
            font-size: 1.1rem;
            padding: 0 12rem;

            @media only screen and (max-width: 600px) {
                padding: 1rem;
            }
        }

        &:nth-child(1) {
            background-image: url(/images/shared/facilitating-transformation-slogan-background.png);
            background-repeat: no-repeat;
            background-position-x: center;
            background-position-y: center;
            background-size: 110% 100%;
            padding: 5rem 0;

            h1 {
                font-size: 4rem;
                font-family: fonts.$pfc-cursive;
                margin: 0 0 0 20rem;

                @media only screen and (max-width: 600px) {
                    font-size: 3rem;
                    margin: 0;
                }
            }

            @media only screen and (max-width: 600px) {
                padding: 3rem;
            }
        }

        @media only screen and (max-width: 600px) {
            margin: 0 0 1rem 0;
        }
    }

    .body {
        .center {
            text-align: center;
        }

        p {
            margin: 0;
        }

        p.cursive {
            font-size: 2.2rem;

            @media only screen and (max-width: 600px) {
                margin-top: 1rem;
            }
        }

        .two-cols {
            img {
                height: 100%;
            }
        }
    }

    .pfc-block {
        &.blue {
            padding: 3rem 15rem 4rem;
            background-size: 110% 30rem;
            margin: 0;
        }

        &.orange {
            background-size: 110% 110%;
            padding: 3rem 10rem
        }
    }
}