#regional-offices {
    .three-col-boxes-container {
        .box {
            padding: 0;
            position: relative;

            h3 {
                position: absolute;
                bottom: 1rem;
                left: 1rem;
                color: white;
            }

            img {
                width: 100%;
                object-fit: cover;
            }
        }
    }
}