@use '../../fonts'as fonts;
@use '../../colors'as colors;

#main-menu-contents-container {
    display: flex;
    padding: 0 12rem;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 1px 0 rgba(0, 0, 0, .1);
    width: 100%;
    box-sizing: border-box;
    position: relative;

    #main-menu-logo {
        img {
            height: 142px;
        }
    }

    a {
        text-decoration: none;
        text-transform: uppercase;
        color: black;
        display: flex;
        margin-right: 2rem;
        font-size: 1.3rem;
        font-weight: 300;
        font-family: fonts.$pfc-menu-capital;
        align-items: center;
        justify-content: center;
    }

    #main-menu-right-contents {
        display: flex;
        align-items: center;
        height: 145px;
    }

    ul {
        display: flex;
        padding: 0;
        margin: 0;
        height: 100%;

        .hover-trigger-menu-item,
        .hover-trigger-menu-item>a {
            height: 100%;
        }

        ul.sub-menu {
            position: absolute;
            overflow: hidden;
            max-height: 0;
            visibility: hidden;
            z-index: 100;
            transition: max-height 0.15s ease-out;

            top: 100%;
            margin: 0 12rem;
            left: 0;
            right: 0;

            padding: 2rem;
            box-shadow: 1px 1px 1px whitesmoke;
            border: solid 1px whitesmoke;
            border-top: solid 1px colors.$pfc-blue;

            display: grid;
            grid-template-columns: repeat(3, max-content);
            grid-template-rows: repeat(2, max-content);
            grid-row-gap: 1.5rem;
            grid-column-gap: 1rem;
            justify-content: space-evenly;
            align-content: center;

            li {
                a {
                    text-transform: uppercase;
                    margin: 0;
                    font-size: 1.2rem;
                    font-weight: 400;
                }
            }

            ul {
                display: block;

                li a {
                    font-weight: 300;
                    margin-top: 1rem;
                }
            }
        }

        li.hover-trigger-menu-item:hover .sub-menu {
            max-height: 50rem;
            transition: max-height 0.25s ease-in;
            visibility: visible;
        }
    }


}