@use '../../fonts'as fonts;
@use '../../colors'as colors;

#main-menu-contents-container {
    position: sticky;
    top: 0;
    z-index: 200;

    padding: 0 12rem;
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    box-shadow: 0 1px 0 rgba(0, 0, 0, .1);
    box-sizing: border-box;
    background-color: white;

    @media only screen and (max-width: 600px) {
        padding: 1rem;
        flex-direction: column;
        align-items: stretch;
    }

    #main-menu-logo {
        img {
            height: 142px;
            transition: height .2s;

            &.shrunk {
                height: 70px;
            }
        }

        @media only screen and (max-width: 600px) {
            display: flex;
            justify-content: space-between;
            align-items: stretch;

            img {
                height: 90px;
            }

            &.shrunk {
                height: 60px;

                a {
                    font-size: 1rem;
                }

                .button-menu {
                    height: auto;

                    button {
                        font-size: .8rem;
                    }
                }
            }
        }
    }

    a {
        text-decoration: none;
        text-transform: uppercase;
        color: black;
        display: flex;
        margin-right: 2rem;
        font-size: 1.3rem;
        font-weight: 300;
        font-family: fonts.$pfc-menu-capital;
        align-items: center;
        justify-content: center;

        @media only screen and (max-width: 600px) {
            margin: 0;
            justify-content: flex-start;
            font-size: 1.2rem;
        }
    }

    #main-menu-right-contents {
        display: flex;
        align-items: center;
        height: 145px;
        transition: height .2s;

        @media only screen and (max-width: 600px) {
            display: none;
        }
    }

    #main-menu-right-contents-mobile {
        display: none;

        @media only screen and (max-width: 600px) {
            display: flex;
            flex-direction: column;
            height: auto;
            justify-content: center;
            align-items: flex-start;

            &.shrunk {
                height: 70px;
            }
        }
    }

    ul {
        display: flex;
        padding: 0;
        margin: 0;
        height: 100%;

        @media only screen and (max-width: 600px) {
            flex-direction: column;
        }

        .hover-trigger-menu-item,
        .hover-trigger-menu-item>a {
            height: 100%;
        }

        ul.sub-menu {
            position: absolute;
            overflow: hidden;
            max-height: 0;
            visibility: hidden;
            z-index: 100;
            transition: max-height 0.15s ease-out;

            top: 100%;
            margin: 0 12rem;
            left: 0;
            right: 0;

            padding: 2rem;
            box-shadow: 1px 1px 1px whitesmoke;
            border: solid 1px whitesmoke;
            border-top: solid 1px colors.$pfc-blue;

            display: grid;
            grid-template-columns: repeat(3, max-content);
            grid-template-rows: repeat(2, max-content);
            grid-row-gap: 1.5rem;
            grid-column-gap: 1rem;
            justify-content: space-evenly;
            align-content: space-evenly;

            @media only screen and (max-width:600px) {
                margin: 0;
                padding: 1rem;
                grid-template-columns: repeat(1, max-content);
                grid-row-gap: 1rem;
                grid-column-gap: .5rem;
            }

            &.two-cols {
                grid-template-columns: repeat(2, max-content);
            }

            &.one-row {
                grid-template-rows: repeat(1, max-content);
            }

            li {
                a {
                    text-transform: uppercase;
                    margin: 0;
                    font-size: 1.2rem;
                    font-weight: 400;

                    @media only screen and (max-width:600px) {
                        font-size: 1rem;
                        text-align: center;
                    }
                }
            }

            ul {
                display: block;

                li a {
                    font-weight: 300;
                    margin-top: 1rem;
                }
            }
        }

        li.hover-trigger-menu-item:hover .sub-menu {
            max-height: 10rem;
            transition: max-height 0.25s ease-in;
            visibility: visible;
            background-color: white;

            @media only screen and (max-width: 600px) {
                max-height: 20rem;
                height: 15rem;

                &.large {
                    max-height: 25rem;
                    height: 25rem;
                }
            }
        }
    }

    .button-menu {
        &.mobile {
            display: none;

            @media only screen and (max-width:600px) {
                display: flex;
                height: 90px;
            }
        }

        button {
            font-weight: 500;
            text-transform: uppercase;

            @media only screen and (max-width:600px) {
                font-size: 1rem;
                padding: 0.5rem;
                width: 100%;
            }
        }
    }
}