@use '../../fonts'as fonts;

#main-menu-contents-container {
    display: flex;
    padding: .5rem 12rem;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 1px 0 rgba(0, 0, 0, .1);
    width: 100%;
    box-sizing: border-box;

    #main-menu-logo {
        img {
            height: 142px;
        }
    }

    a {
        text-decoration: none;
        text-transform: uppercase;
        color: black;
        display: flex;
        margin-right: 2rem;
        font-size: 1.3rem;
        font-weight: 300;
        font-family: fonts.$pfc-menu-capital;
        align-items: center;
        justify-content: center;
    }

    #main-menu-right-contents {
        display: flex;
        align-items: center;
    }

    ul {
        display: flex;
        padding: 0;

        .sub-menu {
            overflow: hidden;
            max-height: 0;
            position: absolute;
            z-index: 100;
            transition: max-height 0.15s ease-out;
            padding: 1.5rem;
            box-shadow: 1px 1px 1px whitesmoke;
            border: solid 1px whitesmoke;
            border-top: 0;
            display: block;
            visibility: hidden;


            li:not(:last-child) {
                margin-bottom: 1rem;
            }

            li {
                a {
                    text-transform: capitalize;
                }
            }
        }

        li.hover-trigger-menu-item:hover .sub-menu {
            max-height: 50rem;
            transition: max-height 0.25s ease-in;
            visibility: visible;
        }
    }


}