@use '../../fonts'as fonts;

.top-links-container {
    background-color: black;
    padding: .6rem 12rem;
    display: flex;
    justify-content: space-between;

    @media only screen and (max-width: 600px) {
        display: none;
    }

    ul,
    li,
    a {
        background-color: black;
        text-decoration: none;
        color: white;
        font-size: .9rem;
        list-style: none;
        font-family: fonts.$pfc-menu-capital;
    }

    li,
    a {
        display: flex;
        align-items: center;

        svg {
            background-color: black;
            margin-right: .2rem;
        }
    }

    ul {
        margin: 0;
        padding: 0;
        display: flex;

        li {
            margin-right: 1rem
        }
    }

    &.mobile {
        display: none;

        @media only screen and (max-width: 600px) {
            display: block;
            padding: 1rem;

            ul {
                justify-content: space-evenly;

                li {
                    margin: 0;
                }
            }

            ul:not(:last-child) {
                margin-bottom: 1rem;
            }
        }
    }
}