@use '../fonts'as fonts;

#hero-carousel-container {
    .single-carousel-item-container {
        position: relative;

        img {
            width: 100%;
        }

        .single-carousel-inner {
            position: absolute;
            top: 15%;
            left: 12rem;
            background-color: transparent;
        }

        #carousel-angel-tree {
            color: white;

            h1,
            p {
                background-color: transparent;
                margin-top: 0;
                width: 70%;
                font-size: 1.5rem;
                font-family: fonts.$pfc-menu-capital;
            }

            h1 {
                font-size: 1.5rem;
                margin-bottom: .5rem;
            }

            p {
                font-size: 1.2rem;
            }

            img {
                width: 20rem;
                background-color: transparent;
            }
        }
    }
}