@use '../colors'as colors;
@use '../fonts'as fonts;

.main-button {
    padding: 1rem;
    cursor: pointer;
    border: 0;
    color: white;
    font-size: 1.1rem;
    font-weight: 300;
    font-family: fonts.$pfc-menu-capital;
}

.orange-color-button {
    background-color: colors.$pfc-orange;
}

.blue-color-button {
    background-color: colors.$pfc-blue;
}

.black-color-button {
    background-color: black;
}

.pfc-button {
    color: white;
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;

    border: 0;
    padding: 1rem 1.5rem;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-blend-mode: normal;
    background-color: transparent;

    cursor: pointer;
}

.pfc-button-orange {
    background-image: url('/public/images/graphics/button-background-orange.png');
}

.pfc-button-blue {
    background-image: url('/public/images/graphics/button-background-blue.png');
}

.pfc-button-black {
    background-image: url('/public/images/graphics/button-background-black.png');
}